.notification {
    > ul {
        list-style: none;

        > .item {
            margin: 10px;
            
            > .notifType {
                margin-right: 10px;
            }

            > .action {
                float: right;
            }
        }
    }

    > .friendsRequestReceive {
        > .item {

            > .action {

                > .cross {
                    margin-left: 10px;
                    color: red;
                }

                > .check {
                    color: green;
                }
            }
        }
    }
}