.parent {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 230px;

    .list {
        background-color: lightgrey;
        display: none;

        > .friendsList {
            > h3 {
                text-align: center;
                padding-top: 10px;
            }

            > .toolbar {
                > form {
                    > input {
                        border-radius: 25px;
                        outline: none;
                        text-align: center;
                    }

                    > button {
                        background: none;
                        color: inherit;
                        border: none;
                        padding: 0;
                        font: inherit;
                        cursor: pointer;
                        outline: inherit;
                    } 

                    > span {
                        float: right;
                        margin-right: 5px;
                    }
                }

            }
        }
    }

    > .show {
        display:table;
        margin:auto;
        
        > input {
            display: none;
        }

        > .icon {
            display: table-cell;
            border-radius: 25px;
            background-color: lightgrey;
            font-size: 16px;
            height: 50px;
            width: 50px;
            text-align: center;
            vertical-align: middle;
        }
    }

}